.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1600px; }

@media screen and (max-width: 880px) {
  .wrapper {
    width: 100%;
    margin: 0 auto; } }
body {
  font-family: Arial;
  padding: 0;
  margin: 0; }
  body nav {
    z-index: 999;
    position: fixed;
    top: 0;
    padding: 20px 0;
    text-align: center;
    width: 100%; }
    body nav ul {
      padding: 0;
      margin: 0; }
      body nav ul li {
        display: inline-block;
        margin: 0px 70px;
        vertical-align: middle; }
        body nav ul li a {
          font-size: 13px;
          text-transform: uppercase;
          text-decoration: none;
          color: #2b2d42;
          cursor: pointer; }
          body nav ul li a:hover {
            opacity: 0.8; }
    @media screen and (max-width: 1220px) {
      body nav ul li {
        margin: 0px 30px; } }
    @media screen and (max-width: 880px) {
      body nav {
        padding: 0; }
        body nav ul li {
          margin: 0;
          display: block;
          background-color: #2b2d42; }
          body nav ul li a {
            padding: 20px 0;
            display: block;
            color: white; }
        body nav ul .nav-item {
          display: none; }
          body nav ul .nav-item:hover {
            background-color: #da042a; } }
  body main .newAdventure {
    background: url("../public/backgrounds/newAdventureBackground.png");
    background-size: cover;
    background-position: center; }
    body main .newAdventure .content {
      padding: 200px 0;
      display: flex;
      justify-content: flex-end;
      text-align: right; }
      body main .newAdventure .content .aligment {
        width: 350px; }
        body main .newAdventure .content .aligment h1 {
          margin: 0;
          font-weight: lighter;
          font-size: 50px;
          color: #2b2d42;
          margin-bottom: 70px; }
        body main .newAdventure .content .aligment p {
          font-size: 16px;
          color: #2b2d42;
          line-height: 25px; }
        body main .newAdventure .content .aligment ul {
          padding: 0; }
          body main .newAdventure .content .aligment ul li {
            display: inline-block;
            margin-left: 10px; }
        @media screen and (max-width: 880px) {
          body main .newAdventure .content .aligment {
            margin: 0 auto; } }
  body main .courage .align {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    body main .courage .align .floater-left {
      width: 465px;
      position: relative; }
      body main .courage .align .floater-left .floater-left-red {
        color: white;
        margin-top: -100px;
        position: relative;
        background-color: #da042a;
        z-index: 100;
        padding-bottom: 100px; }
        body main .courage .align .floater-left .floater-left-red h1 {
          padding: 0 40px 50px 40px;
          margin: 0;
          font-size: 30px;
          text-transform: uppercase;
          font-weight: lighter;
          letter-spacing: 5px;
          line-height: 30pt; }
        body main .courage .align .floater-left .floater-left-red p {
          padding: 0 40px 50px 40px; }
        body main .courage .align .floater-left .floater-left-red::before {
          content: '';
          position: absolute;
          left: 0;
          top: -50px;
          width: 100%;
          height: 300px;
          background: #da042a;
          -webkit-transform: skewY(-5deg);
          -moz-transform: skewY(-5deg);
          -ms-transform: skewY(-5deg);
          -o-transform: skewY(-5deg);
          transform: skewY(-5deg);
          -webkit-backface-visibility: hidden;
          z-index: -1; }
      @media screen and (max-width: 880px) {
        body main .courage .align .floater-left {
          width: 100%;
          padding-bottom: 100px; } }
      body main .courage .align .floater-left .slider {
        color: #2b2d42;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 200px 30px; }
        body main .courage .align .floater-left .slider .components {
          display: flex;
          justify-content: space-between; }
          body main .courage .align .floater-left .slider .components section {
            margin-top: -5%;
            width: 80%; }
            body main .courage .align .floater-left .slider .components section p {
              font-size: 32px; }
          body main .courage .align .floater-left .slider .components a {
            font-size: 40px;
            color: #2b2d42;
            cursor: pointer; }
            body main .courage .align .floater-left .slider .components a:hover {
              opacity: 0.8; }
        @media screen and (max-width: 880px) {
          body main .courage .align .floater-left .slider {
            padding: 50px 30px; } }
    body main .courage .align .success {
      width: calc(100% - 465px);
      padding: 100px 0;
      color: #2b2d42; }
      @media screen and (max-width: 880px) {
        body main .courage .align .success {
          padding: 0 0 50px 0; } }
      body main .courage .align .success .cover-image {
        height: 300px;
        width: 100%;
        background: url("../public/images/courageImage.png") no-repeat;
        background-size: cover;
        background-position: center; }
      body main .courage .align .success h1 {
        text-align: right;
        padding: 70px 40px 100px 0px;
        margin: 0;
        font-weight: lighter;
        font-size: 35px;
        color: #2b2d42;
        text-transform: uppercase; }
      body main .courage .align .success .text {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap; }
        body main .courage .align .success .text section {
          width: 48%; }
          @media screen and (max-width: 1220px) {
            body main .courage .align .success .text section {
              width: 100%; } }
      @media screen and (max-width: 880px) {
        body main .courage .align .success {
          width: 100%; } }
  body main .expect {
    position: relative; }
    body main .expect .background-image {
      height: 1200px;
      width: 100%;
      background: url("../public/backgrounds/expectBackground.png") no-repeat;
      background-size: cover;
      background-position: center; }
    body main .expect .content {
      margin-top: -450px;
      position: relative;
      width: 100%;
      background-color: #da042a;
      z-index: 100;
      padding: 50px 0; }
      body main .expect .content h1 {
        padding-bottom: 50px;
        position: relative;
        margin: 0px;
        font-size: 30px;
        font-weight: lighter;
        color: white;
        text-transform: uppercase;
        width: 100%;
        text-align: right; }
      body main .expect .content .align {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        color: white;
        line-height: 25px; }
        body main .expect .content .align section {
          width: 45%; }
      body main .expect .content::before {
        content: '';
        position: absolute;
        left: 0;
        top: -80px;
        width: 100%;
        height: 300px;
        background: #da042a;
        -webkit-transform: skewY(-2.5deg);
        -moz-transform: skewY(-2.5deg);
        -ms-transform: skewY(-2.5deg);
        -o-transform: skewY(-2.5deg);
        transform: skewY(-2.5deg);
        -webkit-backface-visibility: hidden;
        z-index: -1; }
    @media screen and (max-width: 880px) {
      body main .expect .content {
        display: flex;
        justify-content: center; }
        body main .expect .content h1 {
          text-align: center; }
        body main .expect .content .align section {
          padding: 20px;
          width: 100%; } }
  body main .toTheEdge {
    padding: 75px 0;
    text-align: center; }
    body main .toTheEdge h1 {
      margin: 0;
      font-weight: lighter;
      font-size: 30px;
      color: #2b2d42;
      margin-bottom: 75px;
      text-transform: uppercase;
      text-align: center; }
    body main .toTheEdge .content {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; }
      body main .toTheEdge .content section {
        color: #353535;
        width: 30%;
        margin-bottom: 100px;
        text-align: center;
        line-height: 30px; }
        body main .toTheEdge .content section img {
          width: 100%; }
        body main .toTheEdge .content section h2 {
          margin: 50px 0 20px 0;
          font-size: 18px;
          font-weight: lighter;
          text-transform: uppercase; }
        body main .toTheEdge .content section hr {
          width: 35px;
          display: block;
          height: 1px;
          border: 0;
          border-top: 5px solid #da042a;
          margin: 1em auto;
          padding: 0; }
    body main .toTheEdge button {
      background-color: #2b2d42;
      color: white;
      padding: 10px 20px;
      text-transform: uppercase;
      outline: none;
      border: 0;
      cursor: pointer;
      font-size: 18px;
      font-weight: bold;
      border-radius: 3px; }
      body main .toTheEdge button .helper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center; }
        body main .toTheEdge button .helper img {
          margin-left: 20px; }
      body main .toTheEdge button:hover {
        opacity: 0.8; }
    @media screen and (max-width: 880px) {
      body main .toTheEdge .content {
        padding: 20px; }
        body main .toTheEdge .content section {
          width: 100%; } }
  body main .contact .background-image {
    margin-left: 7%;
    height: 600px;
    width: 93%;
    background: url("../public/backgrounds/contactBackground.png");
    background-size: cover; }
  body main .contact .content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative; }
    body main .contact .content .floated-right {
      margin-top: -300px;
      width: 465px;
      position: relative;
      background-color: #da042a; }
      body main .contact .content .floated-right .contact-us-form {
        width: 100%;
        z-index: 100; }
        body main .contact .content .floated-right .contact-us-form .align {
          padding: 0px 30px; }
        body main .contact .content .floated-right .contact-us-form h1 {
          padding: 45px;
          position: relative;
          z-index: 100;
          margin: 0px;
          font-size: 30px;
          font-weight: lighter;
          color: white;
          letter-spacing: 5px;
          text-transform: uppercase; }
        body main .contact .content .floated-right .contact-us-form input {
          width: calc(100% - 20px);
          border: 0;
          margin: 30px auto;
          padding: 20px 0 20px 20px;
          box-shadow: 0px 7px 0px #2b2d42;
          box-shadow: 0px 7px 0px #2b2d42; }
        body main .contact .content .floated-right .contact-us-form button {
          background-color: #2b2d42;
          color: white;
          padding: 10px 20px;
          text-transform: uppercase;
          outline: none;
          border: 0;
          cursor: pointer;
          font-size: 18px;
          font-weight: bold;
          border-radius: 3px;
          margin: 30px 0 30px 0; }
          body main .contact .content .floated-right .contact-us-form button .helper {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center; }
            body main .contact .content .floated-right .contact-us-form button .helper img {
              margin-left: 20px; }
          body main .contact .content .floated-right .contact-us-form button:hover {
            opacity: 0.8; }
      body main .contact .content .floated-right::before {
        content: '';
        position: absolute;
        left: 0;
        top: -35px;
        width: 100%;
        height: 70px;
        background: #da042a;
        -webkit-transform: skewY(-5deg);
        -moz-transform: skewY(-5deg);
        -ms-transform: skewY(-5deg);
        -o-transform: skewY(-5deg);
        transform: skewY(-5deg);
        -webkit-backface-visibility: hidden;
        z-index: 0; }
    body main .contact .content .hard-work {
      width: calc(100% - 520px);
      padding: 50px 20px;
      line-height: 25px; }
      body main .contact .content .hard-work h1 {
        margin: 0;
        font-weight: lighter;
        font-size: 30px;
        color: #2b2d42;
        margin-bottom: 75px;
        text-transform: uppercase; }
  @media screen and (max-width: 880px) {
    body main .contact .background-image {
      width: 100%;
      margin: 0; }
    body main .contact .content .floated-right {
      width: 100%;
      margin-top: 50px;
      height: 1200px; }
    body main .contact .content .hard-work {
      width: 100%; } }
  body footer {
    margin-top: 280px;
    position: relative; }
    body footer .content {
      text-align: center;
      height: 200px;
      bottom: 0;
      position: absolute;
      width: 100%;
      background-color: #2b2d42;
      z-index: 100;
      padding: 20px 0;
      color: #9597a1; }
      body footer .content div {
        padding: 20px 0; }
      body footer .content::before {
        content: '';
        position: absolute;
        left: 0;
        top: -50px;
        width: 100%;
        height: 240px;
        background: #2b2d42;
        -webkit-transform: skewY(-2deg);
        -moz-transform: skewY(-2deg);
        -ms-transform: skewY(-2deg);
        -o-transform: skewY(-2deg);
        transform: skewY(-2deg);
        -webkit-backface-visibility: hidden;
        z-index: -1; }
    @media screen and (max-width: 880px) {
      body footer {
        margin-top: 0; } }

.nav-blue {
  -webkit-animation: navigation 1s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: navigation 1s;
  /* Firefox < 16 */
  -ms-animation: navigation 1s;
  /* Internet Explorer */
  -o-animation: navigation 1s;
  /* Opera < 12.1 */
  animation: navigation 1s;
  animation-fill-mode: forwards; }
  .nav-blue ul li a {
    color: white; }

.fide-in-items {
  -webkit-animation: fadein 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s;
  /* Firefox < 16 */
  -ms-animation: fadein 2s;
  /* Internet Explorer */
  -o-animation: fadein 2s;
  /* Opera < 12.1 */
  animation: fadein 2s;
  animation-fill-mode: forwards; }

@keyframes navigation {
  0% {
    background-color: none; }
  100% {
    background-color: #2b2d42; } }
@-moz-keyframes navigation {
  0% {
    background-color: none; }
  100% {
    background-color: #2b2d42; } }
@-webkit-keyframes navigation {
  0% {
    background-color: none; }
  100% {
    background-color: #2b2d42; } }
@-ms-keyframes navigation {
  0% {
    background-color: none; }
  100% {
    background-color: #2b2d42; } }
@-o-keyframes navigation {
  0% {
    background-color: none; }
  100% {
    background-color: #2b2d42; } }
@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-ms-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-o-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/*# sourceMappingURL=styles.css.map */
