$mobileVewposrtMiddle: 1220px;
$mobileVewposrtSmall: 880px;

$redPrimaryColor: #da042a;
$bluePrimaryColor: #2b2d42;

$blueTextColor: #2b2d42;

.wrapper{
    width: 90%;
    margin: 0 auto;
    max-width: 1600px;
}
@media screen and (max-width: $mobileVewposrtSmall) {
    .wrapper{
        width: 100%;
        margin: 0 auto;
    }
}

body{
    font-family: Arial;
    padding: 0;
    margin: 0;

    //NAVIGATION
    nav{
        z-index: 999;
        position: fixed;
        top:0;
        padding: 20px 0;
        text-align: center;
        width: 100%;
        ul{
            padding: 0;
            margin: 0;
            li{
                display: inline-block;
                margin: 0px 70px;
                vertical-align: middle;
                a{
                    font-size: 13px;
                    text-transform: uppercase;
                    text-decoration: none;
                    color: $blueTextColor;
                    cursor: pointer;
                    &:hover{
                        opacity: 0.8;
                    }
                }
            }
        }
        @media screen and (max-width: $mobileVewposrtMiddle) {
            ul{
                li{
                    margin: 0px 30px;
                }
            }
        }
        @media screen and (max-width: $mobileVewposrtSmall) {
            padding: 0;
            ul{
                li{
                    margin: 0;
                    display: block;
                    background-color: $bluePrimaryColor;
                    a{
                        padding: 20px 0;
                        display: block;
                        color: white;
                    }
                }
                .nav-item{
                    display: none;
                    &:hover{
                        background-color: $redPrimaryColor;
                    }
                }
            }
        }
    }

    //MAIN
    main{

        //NEW ADVENTURE
        .newAdventure{
            background: url('../public/backgrounds/newAdventureBackground.png');
            background-size:cover;
            background-position: center;
            .content{
                padding: 200px 0;
                display: flex;
                justify-content: flex-end;
                text-align: right;
                .aligment{
                    width: 350px;
                    h1{
                        margin: 0;
                        font-weight: lighter;
                        font-size: 50px;
                        color: $blueTextColor;
                        margin-bottom: 70px;
                    }
                    p{
                        font-size: 16px;
                        color: $blueTextColor;
                        line-height: 25px;
                    }
                    ul{
                        padding: 0;
                        li{
                            display: inline-block;
                            margin-left: 10px;
                        }
                    }
                    @media screen and (max-width: $mobileVewposrtSmall) {
                        margin: 0 auto;
                    }
                }
            }
        }

        //COURAGE
        .courage{
            .align{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                .floater-left{
                  width: 465px;
                  position: relative;
                  .floater-left-red{
                    color: white;
                    margin-top: -100px;
                    position: relative;
                    background-color: $redPrimaryColor;
                    z-index: 100;
                    padding-bottom: 100px;
                    h1{
                      padding:0 40px 50px 40px;
                      margin: 0;
                      font-size: 30px;
                      text-transform: uppercase;
                      font-weight: lighter;
                      letter-spacing: 5px;
                      line-height: 30pt;
                    }
                    p{
                      padding:0 40px 50px 40px;
                    }
                    &::before {
                      content: '';
                      position: absolute;
                      left: 0;
                      top: -50px;
                      width: 100%;
                      height: 300px;
                      background: $redPrimaryColor;
                      -webkit-transform: skewY(-5deg);
                      -moz-transform: skewY(-5deg);
                      -ms-transform: skewY(-5deg);
                      -o-transform: skewY(-5deg);
                      transform: skewY(-5deg);
                      -webkit-backface-visibility: hidden;
                      z-index: -1;
                    }
                  }
                  @media screen and (max-width: $mobileVewposrtSmall) {
                      width: 100%;
                      padding-bottom: 100px;
                  }
                  .slider{
                        color: $bluePrimaryColor;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: center;
                        align-items: center;
                        padding: 200px 30px;
                        .components{
                            display: flex;
                            justify-content: space-between;
                            section{
                                margin-top: -5%;
                                width: 80%;
                                p{
                                    font-size: 32px;
                                }
                            }
                            a{
                                font-size: 40px;
                                color: $blueTextColor;
                                cursor: pointer;
                                &:hover{
                                    opacity: 0.8;
                                }
                            }
                        }
                        @media screen and (max-width: $mobileVewposrtSmall) {
                            padding: 50px 30px;
                        }
                    }
                }

                .success{
                    width: calc(100% - 465px);
                    padding: 100px 0;
                    color: $bluePrimaryColor;
                    @media screen and (max-width: $mobileVewposrtSmall) {
                        padding: 0 0 50px 0;
                    }
                    .cover-image{
                        height: 300px;
                        width: 100%;
                        background: url('../public/images/courageImage.png') no-repeat;
                        background-size: cover;
                        background-position: center;
                    }
                    h1{
                        text-align: right;
                        padding: 70px 40px 100px 0px;
                        margin: 0;
                        font-weight: lighter;
                        font-size: 35px;;
                        color: $blueTextColor;
                        text-transform: uppercase;
                    }
                    .text{
                        padding: 10px;
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        section{
                            width: 48%;
                            @media screen and (max-width: $mobileVewposrtMiddle) {
                                width: 100%;
                            }
                        }
                    }
                    @media screen and (max-width: $mobileVewposrtSmall) {
                        width: 100%;
                    }
                }
            }
        }

        //EXPECT
        .expect{
            position: relative;
            .background-image{
                height: 1200px;
                width: 100%;
                background: url('../public/backgrounds/expectBackground.png') no-repeat;
                background-size: cover;
                background-position: center;
            }
            .content{
                margin-top: -450px;
                position: relative;
                width: 100%;
                background-color: $redPrimaryColor;
                z-index: 100;
                padding: 50px 0;
                h1{
                    padding-bottom: 50px;
                    position: relative;
                    margin: 0px;
                    font-size: 30px;
                    font-weight: lighter;
                    color: white;
                    text-transform: uppercase;
                    width: 100%;
                    text-align: right;
                }
                .align{
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    section{
                        width: 45%;
                    }
                    color: white;
                    line-height: 25px;
                }
                &::before {
                  content: '';
                  position: absolute;
                  left: 0;
                  top: -80px;
                  width: 100%;
                  height: 300px;
                  background: $redPrimaryColor;
                  -webkit-transform: skewY(-2.5deg);
                  -moz-transform: skewY(-2.5deg);
                  -ms-transform: skewY(-2.5deg);
                  -o-transform: skewY(-2.5deg);
                  transform: skewY(-2.5deg);
                  -webkit-backface-visibility: hidden;
                  z-index: -1;
                }
            }
            @media screen and (max-width: $mobileVewposrtSmall) {
                .content{
                    display: flex;
                    justify-content:center;
                    h1{
                        text-align: center;
                    }
                    .align{
                        section{
                            padding: 20px;
                            width: 100%;
                        }
                    }
                }
            }
        }

        //TO THE EDGE
        .toTheEdge{
            padding: 75px 0;
            text-align: center;
            h1{
                margin: 0;
                font-weight: lighter;
                font-size: 30px;
                color: $blueTextColor;
                margin-bottom: 75px;
                text-transform: uppercase;
                text-align: center;
            }
            .content{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                section{
                    color: #353535;
                    width: 30%;
                    margin-bottom: 100px;
                    text-align: center;
                    line-height: 30px;
                    img{
                        width: 100%;
                    }
                    h2{
                        margin: 50px 0 20px 0;
                        font-size: 18px;
                        font-weight: lighter;
                        text-transform: uppercase;
                    }
                    hr{
                        width: 35px;
                        display: block;
                        height: 1px;
                        border: 0;
                        border-top: 5px solid $redPrimaryColor;
                        margin: 1em auto;
                        padding: 0;
                    }
                }
            }
            button{
                background-color: $bluePrimaryColor;
                color: white;
                padding: 10px 20px;
                text-transform: uppercase;
                outline: none;
                border: 0;
                cursor: pointer;
                font-size: 18px;
                font-weight: bold;
                border-radius: 3px;
                .helper{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content:space-between;
                    align-items: center;
                    img{
                        margin-left: 20px;
                    }
                }
                &:hover{
                    opacity: 0.8;
                }
            }
            @media screen and (max-width: $mobileVewposrtSmall) {
                .content{
                    padding: 20px;
                    section{
                        width: 100%;
                    }
                }
            }
        }

        //CONTACT
        .contact{
            .background-image{
                margin-left: 7%;
                height: 600px;
                width: 93%;
                background: url('../public/backgrounds/contactBackground.png');
                background-size: cover;
            }
            .content{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                position: relative;
                .floated-right{
                    margin-top: -300px;
                    width: 465px;
                    position: relative;
                    background-color: $redPrimaryColor;
                    .contact-us-form{
                        width: 100%;
                        z-index: 100;
                        .align{
                            padding: 0px 30px;
                        }
                        h1{
                            padding: 45px;
                            position: relative;
                            z-index: 100;
                            margin: 0px;
                            font-size: 30px;
                            font-weight: lighter;
                            color: white;
                            letter-spacing: 5px;
                            text-transform: uppercase;
                        }
                        input{
                            width: calc(100% - 20px);
                            border: 0;
                            margin: 30px auto;
                            padding: 20px 0 20px 20px;
                            box-shadow: 0px 7px 0px $bluePrimaryColor;
                            box-shadow: 0px 7px 0px $bluePrimaryColor;
                        }
                        button{
                            background-color: $bluePrimaryColor;
                            color: white;
                            padding: 10px 20px;
                            text-transform: uppercase;
                            outline: none;
                            border: 0;
                            cursor: pointer;
                            font-size: 18px;
                            font-weight: bold;
                            border-radius: 3px;
                            margin: 30px 0 30px 0;
                            .helper{
                                display: flex;
                                flex-direction: row;
                                flex-wrap: wrap;
                                justify-content:space-between;
                                align-items: center;
                                img{
                                    margin-left: 20px;
                                }
                            }
                            &:hover{
                                opacity: 0.8;
                            }
                        }
                    }
                    &::before {
                          content: '';
                          position: absolute;
                          left: 0;
                          top: -35px;
                          width: 100%;
                          height: 70px;
                          background: $redPrimaryColor;
                          -webkit-transform: skewY(-5deg);
                          -moz-transform: skewY(-5deg);
                          -ms-transform: skewY(-5deg);
                          -o-transform: skewY(-5deg);
                          transform: skewY(-5deg);
                          -webkit-backface-visibility: hidden;
                          z-index: 0;
                    }
                }
                .hard-work{
                    width: calc(100% - 520px);
                    padding:50px 20px;
                    line-height: 25px;
                    h1{
                        margin: 0;
                        font-weight: lighter;
                        font-size: 30px;
                        color: $blueTextColor;
                        margin-bottom: 75px;
                        text-transform: uppercase;
                    }
                }
            }
            @media screen and (max-width: $mobileVewposrtSmall) {
                .background-image{
                    width: 100%;
                    margin: 0;
                }
                .content{
                    .floated-right{
                        width: 100%;
                        margin-top: 50px;
                        height: 1200px;
                    }
                    .hard-work{
                        width: 100%;
                    }
                }
            }
        }
    }
    footer{
        margin-top: 280px;
        position: relative;
        .content{
            text-align: center;
            height: 200px;
            bottom: 0;
            position: absolute;
            width: 100%;
            background-color: $bluePrimaryColor;
            z-index: 100;
            padding: 20px 0;
            color: #9597a1;
            div{
                padding: 20px 0;
            }
            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: -50px;
                width: 100%;
                height: 240px;
                background: $bluePrimaryColor;
                -webkit-transform: skewY(-2deg);
                -moz-transform: skewY(-2deg);
                -ms-transform: skewY(-2deg);
                -o-transform: skewY(-2deg);
                transform: skewY(-2deg);
                -webkit-backface-visibility: hidden;
                z-index: -1;
            }
        }
        @media screen and (max-width: $mobileVewposrtSmall) {
            margin-top: 0;
        }
    }
}

.nav-blue{
    ul{
        li{
            a{
                color: white;
            }
        }
    }
    -webkit-animation: navigation 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: navigation 1s; /* Firefox < 16 */
        -ms-animation: navigation 1s; /* Internet Explorer */
         -o-animation: navigation 1s; /* Opera < 12.1 */
            animation: navigation 1s;
    animation-fill-mode: forwards;
}
.fide-in-items{
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
    animation-fill-mode: forwards;
}

//ANIMATIONS

@keyframes navigation {
    0%   {background-color: none;}
    100% { background-color: $bluePrimaryColor }
}

@-moz-keyframes navigation {
    0%   {background-color: none;}
    100% { background-color: $bluePrimaryColor }
}

@-webkit-keyframes navigation {
    0%   {background-color: none;}
    100% { background-color: $bluePrimaryColor }
}

@-ms-keyframes navigation {
    0%   {background-color: none;}
    100% { background-color: $bluePrimaryColor }
}

@-o-keyframes navigation {
    0%   {background-color: none;}
    100% { background-color: $bluePrimaryColor }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
