$mobileVewposrtMiddle: 1220px;
$mobileVewposrtSmall: 880px;

$redPrimaryColor: #da042a;
$bluePrimaryColor: #2b2d42;

$blueTextColor: #2b2d42;

.wrapper{
    width: 90%;
    margin: 0 auto;
    max-width: 1600px;
}
@media screen and (max-width: $mobileVewposrtSmall) {
    .wrapper{
        width: 100%;
        margin: 0 auto;
    }
}

body{
    font-family: Arial;
    padding: 0;
    margin: 0;
    //NAVIGATION
    nav{
        z-index: 999;
        position: fixed;
        top:0;
        padding: 20px 0;
        text-align: center;
        width: 100%;
        ul{
            padding: 0;
            margin: 0;
            li{
                display: inline-block;
                margin: 0px 70px;
                vertical-align: middle;
                a{
                    font-size: 13px;
                    text-transform: uppercase;
                    text-decoration: none;
                    color: $blueTextColor;
                    cursor: pointer;
                    &:hover{
                        opacity: 0.8;
                    }
                }
            }
        }
        @media screen and (max-width: $mobileVewposrtMiddle) {
            ul{
                li{
                    margin: 0px 30px;
                }
            }
        }
        @media screen and (max-width: $mobileVewposrtSmall) {
            padding: 0;
            ul{
                li{
                    margin: 0;
                    display: block;
                    background-color: $bluePrimaryColor;
                    a{
                        padding: 20px 0;
                        display: block;
                        color: white;
                    }
                    &:hover{
                        background-color: $redPrimaryColor;
                    }
                }
                .nav-item{
                    display: none;
                }
            }
        }
    }
    main{
        //NEW ADVENTURE
        .newAdventure{
            position: relative;
            height: 1020px;
            background: url('../public/backgrounds/newAdventureBackground.png');
            background-size:cover;
            background-position: center;
            .content{
                padding-top: 200px;
                display: flex;
                justify-content: flex-end;
                text-align: right;
                .aligment{
                    width: 400px;
                    h1{
                        margin: 0;
                        font-weight: lighter;
                        font-size: 50px;
                        color: $blueTextColor;
                        margin-bottom: 70px;
                    }
                    div{

                        font-size: 16px;
                        color: $blueTextColor;
                        line-height: 25px;
                    }
                    ul{
                        padding: 0;
                        li{
                            display: inline-block;
                            margin-left: 10px;
                        }
                    }
                }
            }
            .middle-section-left{
                bottom: 0;
                position: absolute;
                width: 465px;
                background-color: $redPrimaryColor;
                h1{
                    padding: 45px;
                    position: relative;
                    z-index: 100;
                    margin: 0px;
                    font-size: 30px;
                    font-weight: lighter;
                    color: white;
                    letter-spacing: 5px;
                    text-transform: uppercase;
                }
                &::before {
                  content: '';
                  position: absolute;
                  left: 0;
                  top: -35px;
                  width: 100%;
                  height: 70px;
                  background: $redPrimaryColor;
                  -webkit-transform: skewY(-5deg);
                  -moz-transform: skewY(-5deg);
                  -ms-transform: skewY(-5deg);
                  -o-transform: skewY(-5deg);
                  transform: skewY(-5deg);
                  -webkit-backface-visibility: hidden;
                  z-index: 0;
                }
            }
            @media screen and (max-width: $mobileVewposrtSmall) {
                .middle-section-left{
                    width: 100%;
                }
                .content{
                    display: flex;
                    justify-content:center;
                }
            }
        }
        //COURAGE
        .courage{
            .align{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                .left{
                    width: 465px;
                    .middle-section-left{
                        padding: 50px 50px 230px 50px;
                        background-color: $redPrimaryColor;
                        color: white;
                        line-height: 20px;
                    }
                    .slider{
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: center;
                        align-items: center;
                        height: 50%;
                        min-height: 500px;
                        padding: 0px 20px;
                        ul{
                            padding: 0;
                            li{
                                display: inline-block;
                                vertical-align: middle;
                                a{
                                    font-size: 40px;
                                    color: $blueTextColor;
                                    &:hover{
                                        opacity: 0.8;
                                    }
                                }
                            }
                        }
                    }
                }
                .right{
                    width: calc(100% - 465px);
                    padding: 100px 0;
                    img{
                        width: 100%;
                    }
                    h1{
                        text-align: right;
                        padding: 100px 40px 100px 0px;
                        margin: 0;
                        font-weight: lighter;
                        font-size: 35px;;
                        color: $blueTextColor;
                        text-transform: uppercase;
                    }
                    .text{
                        padding: 10px;
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        section{
                            width: 48%;
                        }
                    }
                    @media screen and (max-width: $mobileVewposrtMiddle) {
                        .text{
                            padding: 10px;
                            display: flex;
                            justify-content: space-between;
                            flex-wrap: wrap;
                            section{
                                width: 100%;
                            }
                        }
                    }
                }
            }
            @media screen and (max-width: $mobileVewposrtSmall) {
                .align{
                    .left{
                        width: 100%;
                    }
                    .right{
                        width: 100%;
                        padding-top: 0;
                    }
                }
            }
        }
        //EXPECT
        .expect{
            position: relative;
            min-height: 1100px;
            background: url('../public/backgrounds/expectBackground.png') no-repeat;
            background-size: 100%;;
            background-position: top center;
            padding-bottom: 50px;
            .content{
                bottom: 0;
                position: absolute;
                width: 100%;
                background-color: $redPrimaryColor;
                z-index: 100;
                padding: 50px 0;
                h1{
                    padding-bottom: 50px;
                    position: relative;
                    margin: 0px;
                    font-size: 30px;
                    font-weight: lighter;
                    color: white;
                    text-transform: uppercase;
                    width: 100%;
                    text-align: right;
                }
                .align{
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    section{
                        width: 45%;
                    }
                    color: white;
                    line-height: 25px;
                }
                &::before {
                  content: '';
                  position: absolute;
                  left: 0;
                  top: -80px;
                  width: 100%;
                  height: 300px;
                  background: $redPrimaryColor;
                  -webkit-transform: skewY(-2.5deg);
                  -moz-transform: skewY(-2.5deg);
                  -ms-transform: skewY(-2.5deg);
                  -o-transform: skewY(-2.5deg);
                  transform: skewY(-2.5deg);
                  -webkit-backface-visibility: hidden;
                  z-index: -1;
                }
            }
            @media screen and (max-width: $mobileVewposrtSmall) {
                .content{
                    display: flex;
                    justify-content:center;
                    h1{
                        text-align: center;
                    }
                    .align{
                        section{
                            padding: 20px;
                            width: 100%;
                        }
                    }
                }
            }
        }
        //TO THE EDGE
        .toTheEdge{
            padding: 75px 0;
            text-align: center;
            h1{
                margin: 0;
                font-weight: lighter;
                font-size: 30px;
                color: $blueTextColor;
                margin-bottom: 75px;
                text-transform: uppercase;
                text-align: center;
            }
            .content{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                section{
                    color: #353535;
                    width: 30%;
                    margin-bottom: 100px;
                    text-align: center;
                    line-height: 30px;
                    img{
                        width: 100%;
                    }
                    h2{
                        margin: 50px 0 20px 0;
                        font-size: 18px;
                        font-weight: lighter;
                        text-transform: uppercase;
                    }
                    hr{
                        width: 35px;
                        display: block;
                        height: 1px;
                        border: 0;
                        border-top: 5px solid $redPrimaryColor;
                        margin: 1em auto;
                        padding: 0;
                    }
                }
            }
            button{
                background-color: $bluePrimaryColor;
                color: white;
                padding: 20px 35px;
                text-transform: uppercase;
                outline: none;
                border: 0;
                cursor: pointer;
                font-size: 18px;
                font-weight: bold;
                .helper{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content:space-between;
                    align-items: center;
                    img{
                        margin-left: 10px;
                    }
                }
            }
            @media screen and (max-width: $mobileVewposrtSmall) {
                .content{
                    padding: 20px;
                    section{
                        width: 100%;
                    }
                }
            }
        }
        //CONTACT
        .contact{
            .background{
                margin-left: 7%;
                height: 600px;
                width: 93%;
                background: url('../public/backgrounds/contactBackground.png');
                background-size: cover;
            }
            .content{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                section{
                    width: 40%;
                    position: relative;
                    .contact-us-form{
                        margin-top: -350px;
                        position: absolute;
                        width: 100%;
                        background-color: $redPrimaryColor;
                        z-index: 100;
                        .align{
                            padding: 0px 30px;
                        }
                        h1{
                            padding: 45px;
                            position: relative;
                            z-index: 100;
                            margin: 0px;
                            font-size: 30px;
                            font-weight: lighter;
                            color: white;
                            letter-spacing: 5px;
                            text-transform: uppercase;
                        }
                        &::before {
                          content: '';
                          position: absolute;
                          left: 0;
                          top: -35px;
                          width: 100%;
                          height: 70px;
                          background: $redPrimaryColor;
                          -webkit-transform: skewY(-5deg);
                          -moz-transform: skewY(-5deg);
                          -ms-transform: skewY(-5deg);
                          -o-transform: skewY(-5deg);
                          transform: skewY(-5deg);
                          -webkit-backface-visibility: hidden;
                          z-index: 0;
                        }
                        input{
                            width: calc(100% - 20px);
                            border: 0;
                            margin: 30px auto;
                            padding: 20px 0 20px 20px;
                            box-shadow: 0px 7px 0px $bluePrimaryColor;
                            box-shadow: 0px 7px 0px $bluePrimaryColor;
                        }
                        button{
                            background-color: $bluePrimaryColor;
                            color: white;
                            padding: 20px 35px;
                            text-transform: uppercase;
                            outline: none;
                            border: 0;
                            cursor: pointer;
                            font-size: 18px;
                            font-weight: bold;
                            margin: 30px 0 500px 0;
                            .helper{
                                display: flex;
                                flex-direction: row;
                                flex-wrap: wrap;
                                justify-content:space-between;
                                align-items: center;
                                img{
                                    margin-left: 10px;
                                }
                            }
                        }
                    }
                }
                .hard-work{
                    padding:50px;
                    line-height: 25px;
                    h1{
                        margin: 0;
                        font-weight: lighter;
                        font-size: 30px;
                        color: $blueTextColor;
                        margin-bottom: 75px;
                        text-transform: uppercase;
                    }
                }
                @media screen and (max-width: $mobileVewposrtSmall) {
                    section{
                        width: 100%;
                        .contact-us-form{
                            position: relative;
                            margin-top: 100px;
                            width: 100%;
                        }
                    }
                }
            }
            @media screen and (max-width: $mobileVewposrtSmall) {
                .background{
                    height: 300px;
                    width: 100%;
                    margin-left: 0;
                }
            }
        }
    }
    footer{
        margin-top: 500px;
        position: relative;
        .content{
            text-align: center;
            height: 200px;
            bottom: 0;
            position: absolute;
            width: 100%;
            background-color: $bluePrimaryColor;
            z-index: 100;
            padding: 50px 0;
            div{
                padding: 20px 0;
            }
            &::before {
              content: '';
              position: absolute;
              left: 0;
              top: -80px;
              width: 100%;
              height: 240px;
              background: $bluePrimaryColor;
              -webkit-transform: skewY(-2deg);
              -moz-transform: skewY(-2deg);
              -ms-transform: skewY(-2deg);
              -o-transform: skewY(-2deg);
              transform: skewY(-2deg);
              -webkit-backface-visibility: hidden;
              z-index: -1;
            }
        }
        @media screen and (max-width: $mobileVewposrtSmall) {
            margin-top: 0;
        }
    }
}

.nav-blue{
    ul{
        li{
            a{
                color: white;
            }
        }
    }
    animation: navigation 1s;
    -webkit-animation: navigation 1s ;
    -ms-animation: navigation 1s;
    animation-fill-mode: forwards;
}
@keyframes navigation {
    0%   {background-color: none;}
    100% { background-color: $bluePrimaryColor }
}
